$font-family: "Microsoft JhengHei",PMingLiU,MingLiu,"Segoe UI","Helvetica",Garuda,Arial,sans-serif;
$font-size: 16px;
$line-height-body: 1.5;
$line-height-title: 1.2;

// rwd
$pc-padding: 940px;
$ipad: 768px;
$iPhone-6-Plus: 414px;

//


