.homeBanner{
    background-image: url(https://bit.ly/2OhbMHr);
    width: 100%;
    height: 496px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 30px;
}
.home-rectangle-Btn{
    max-width: 780px;
    display: flex;
    margin: 0 auto;
    position: relative;
    top: -105px;
    @include rwd($ipad){
        top: 0;
    }
    .item{
        width: 33.3333%;
        position: relative;
        &:nth-child(1), &:nth-child(2){
            border-right: 1px solid #fff;
        }
        &:nth-child(1){
            a{
                color: #3F5D45;
                background-color: rgba(255, 225, 128, 0.8);
                font-weight: bold;
            }
        }
    }
    img{
        width: 100%;
        height: 256px;
        display: block;
        object-fit: cover;
        @include rwd($ipad){
            height: 180px;
        }
    }
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-decoration: none;
        background-color: rgba(63, 93, 69, 0.9);
        transition: all .3s;
        color: #FFFFFF;
        font-size: 1.5rem;
        writing-mode: vertical-rl;
        letter-spacing: 0.8rem;
        &:hover{
            color: #3F5D45;
            background-color: rgba(255, 225, 128, 0.8);
            font-weight: bold;
        }
        @include rwd($ipad){
            font-size: 1.25rem;
            letter-spacing: 0.5rem;
        }
    }
}
.home-intro{
    background-color: #EAF0ED;
    .home-intro-title{
        display: none;
        background-color: #fff;
        @include rwd($ipad){
            display: block;
            //margin-top: -75px;
            padding-top: 30px;
            padding-bottom: 30px;
            img{
                display: block;
                max-width: 196px;
                height: 60px;
                margin: 0 auto;
            }
        }
    }
    .home-intro-content{
        display: flex;
        justify-content: space-between;
        height: 420px;
        margin-bottom: 105px;
        @include rwd($ipad){
            margin-bottom: 0;
            flex-direction: column;
            // justify-content: flex-start;
            height: auto;
            &.content-2nd{
              flex-direction: column-reverse;  
            }
        }
    }
    .intro-Pic{
        margin-top: -20px;  // 這邊用 position: relative; top:-20px 的話會整條線偏移，導致文字沒辦法居中
        width: 50%;
        height: 460px;
        object-fit: cover;
        &:first-child {
            margin-right: 40px;
        }
        &:last-child {
            margin-left: 40px;
        }
        @include rwd($ipad){
            width: 100%;
            height: 250px;
            margin-top: 0;
            &:first-child {
                margin-right: 0;
            }
            &:last-child {
                margin-left: 0;
            }
        }
    }
    .txt{
        display: flex;
        justify-content: space-between;
        width: 50%;
        p{
            writing-mode: vertical-rl;
            height: 280px;
            margin: auto 0;
            line-height: 2rem;
            color: #8DA291;
        }
        @include rwd($ipad){
            width: 100%;
            display: block;
            padding: 30px;
            p{
                height: auto;
                writing-mode: horizontal-tb;
                &:first-child{
                    margin-bottom: 20px;
                }
            }
        }
    }
    .txt-Pic{
        max-width: 90px;
        height: 308px;
        margin-top: -25px;
        align-self: start;
        @include rwd($ipad){
            display: none;
        }
    }
}
.home-noReason-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    @include rwd($ipad){
        margin-bottom: 0;
    }
    img:nth-child(1){
        display: block;
        max-width: 90px;
        height: 330px;
    }
    img:nth-child(2){
        max-width: 226px;
        height: 60px;
        display: none;
    }
    @include rwd($ipad){
        //margin-top: -75px;
        //margin-bottom: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        img:nth-child(1){
            display: none;
        }
        img:nth-child(2){
            display: block;
        }
    }
    
}
.homeProduct{
    &.productCard{
        width: 100%;
        margin-bottom: 60px;
        @include rwd($ipad){
            padding-right: 0;
            margin-bottom: 20px;
        }
        li{
            width: 32%;
            margin: 0;
            &:nth-child(1),  &:nth-child(2){
                margin-right: 2%;
            }
        }
    }
    
    @include rwd(600px){
        &.productCard{
            li{
                width: 100%;
                margin: 0 6% 6% 6%;
                &:nth-child(1),  &:nth-child(2){
                    margin-right: 6%;
                }        
            }
        }
    }
}